# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build artifacts
build/
dist/
out/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore package-lock.json or yarn.lock
package-lock.json
yarn.lock
